<?php
// include standard libraries
$PAGE->requires->js('/lib/yui/2.9.0/build/yahoo/yahoo-min.js');
$PAGE->requires->js('/lib/yui/2.9.0/build/event/event-min.js');
$PAGE->requires->js('/lib/yui/2.9.0/build/dom/dom-min.js');
$PAGE->requires->js('/lib/yui/2.9.0/build/animation/animation-min.js');
$PAGE->requires->js('/lib/yui/2.9.0/build/container/container.js');

// include the assmgr custom library
$PAGE->requires->js('/blocks/assmgr/views/js/lib.js');

// load the standard YUI style sheet
$PAGE->requires->css_theme(new moodle_url($CFG->wwwroot.'/lib/yui/container/assets/container.css'));

echo $OUTPUT->header();
?>
<div class="assmgr yui-skin-sam">
    <?php
    echo $OUTPUT->heading(get_string('listportfolios', 'block_assmgr'));
    ?>
    <div id="assmgr_assessments_container" class="portcontainer">
        <?php
        // display the table
        require_once($CFG->dirroot.'/blocks/assmgr/actions/list_portfolio_assessments.ajax.php');
        ?>
    </div>
</div>